.sec__text {
    flex: 0 1 660px;
}

.sec__text li {
    list-style-type: disc;
    margin-left: 40px;
}

@media screen and (max-width: 1030px) {
    .sec__text {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
    }

    .sec__text button {
        text-align: center;
    }
}

@media screen and (max-width: 780px) {
    .sec__text {
        align-items: center;
    }


}