.button {
    background: var(--background-color_btn);
    color: var(--primary-color);
    border-radius: 20px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    padding: 20px 30px;
    box-shadow:
            -3px 3px 6px rgba(210, 154, 67, 0.2),
            3px -3px 6px rgba(210, 154, 67, 0.1),
            -3px -3px 6px rgba(255, 204, 89, 0.3),
            3px 3px 8px rgba(210, 154, 67, 0.6),
            inset 1px 1px 2px rgba(255, 204, 89, 0.3),
            inset -1px -1px 2px rgba(210, 154, 67, 0.5)
    ;
}

.button:hover {
    background: var(--background-color_btn-hover);
}

@media screen and (max-width: 780px) {
    .button {
        width: 75%;
    }
}

@media screen and (max-width: 620px) {
    .button {
        width: 95%;
    }
}

@media screen and (max-width: 430px) {
    .button {
        width: 100%;
    }
}