.footer {
    padding-top: 62px;
    background-color: var(--secondary-color);
}

.footer__row {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.footer__columns {
    display: flex;
    justify-content: space-around;
}

.footer__rights {
    text-align: center;
    margin: 15px 0 5px;
    font-size: 24px;
    line-height: 30px;
}

.footer__rights span {
    color: var(--title-color);
    font-size: 34px;
}

@media screen and (max-width: 780px) {
    .footer__rights {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        padding-top: 32px;
    }

    .footer__columns {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media screen and (max-width: 380px) {
    .footer__rights {
        font-size: 14px;
    }

    .footer__rights span {
        font-size: 24px;
    }
}