.sec {
    display: flex;
    justify-content: space-between;
}

.sec_reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 780px) {
    .sec {
        align-items: center;
        flex-direction: column;
    }
}