.description {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.banner__desc {
    font-weight: 500;
    margin: 38px 0 42px;
    max-width: 555px;
}

.sec__desc {
    margin: 24px 0;
}

@media screen and (max-width: 1030px) {
    .banner__desc {
        max-width: 75%;
        text-align: center;
    }

    .sec__desc {
        font-size: 28px;
        line-height: 34px;
    }
}

@media screen and (max-width: 780px) {
    .sec__desc {
        text-align: center;
    }

    .sec__desc div {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .description {
        font-size: 26px;
        line-height: 32px;
    }

    .banner__desc {
        margin: 18px 0 22px;
    }
}

@media screen and (max-width: 330px) {
    .banner__desc {
        max-width: 90%;
    }

    .sec__desc {
        font-size: 18px;
    }
}