.abilities {
    position: relative;
    bottom: 102px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    max-width: 75%;
    margin: 0 auto;
    padding: 55px 95px;
    border-radius: 20px;
    box-shadow: 0 11px 60px rgba(6, 68, 203, 0.15);
}

@media screen and (max-width: 1030px) {
    .abilities {
        max-width: 95%;
    }
}

@media screen and (max-width: 780px) {
    .abilities {
        padding: 30px 65px;
    }
}

@media screen and (max-width: 620px) {
    .abilities {
        bottom: 60px;
    }
}

@media screen and (max-width: 430px) {
    .abilities {
        padding: 30px;
    }
}