.abilities__item {
    display: flex;
    flex-direction: column;
}

.abilities__item div {
    text-align: center;
}

.abilities__item span {
    font-size: 32px;
    line-height: 40px;
    color: var(--title-color);
}

@media screen and (max-width: 620px) {
    .abilities__item span {
        display: none;
    }
}