.title {
    font-size: 54px;
    line-height: 63px;
    color: var(--title-color);
}

@media screen and (max-width: 1030px) {
    .title {
        text-align: center;
        font-size: 40px;
        line-height: 52px;
    }
}