.header__nav {
    flex: 0 1 835px;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

@media screen and (max-width: 1030px) {
    .header__nav {
        flex: 0 1 600px;
    }
}

@media screen and (max-width: 780px) {
    .header__nav {
        display: flex;
        justify-content: flex-end;
    }

    .header__nav ul {
        display: none;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 50px;
        height: 35px;
    }

    .header__burger span {
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--title-color);
        top: 15px;
        left: 0;
    }

    .header__burger::after,
    .header__burger::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--title-color);
        left: 0;
    }

    .header__burger::after {
        top: 0;
    }

    .header__burger::before {
        bottom: 0;
    }
}