.footer__column {
    flex: 0 1 200px;
    text-align: center;
}

.footer__column:first-child {
    text-align: start;
}

.footer__column:last-child {
    text-align: end;
}

.footer__column span {
    font-size: 24px;
    line-height: 30px;
    color: var(--title-color);
}

.footer__column ul {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 19px;
}

.footer__column li {
    cursor: pointer;
    transition: var(--transition);
}

.footer__column li:hover {
    color: var(--title-color);
}

@media screen and (max-width: 780px) {
    .footer__column li {
        font-size: 20px;
    }
}

@media screen and (max-width: 620px) {
    .footer__column {
        flex: 0 1 100%;
    }

    .footer__column li {
        font-size: 24px;
    }
}