.header {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1030px) {
    .header {
        padding: 15px 0;
    }
}