@media screen and (max-width: 1030px) {
    .sec__image {
        flex: 0 0 40%;
    }

    .sec__image img {
        max-width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .sec__image {
        text-align: center;
    }

    .sec__image img {
        margin-bottom: 20px;
        max-width: 50%;
    }
}

@media screen and (max-width: 435px) {
    .sec__image img {
        max-width: 80%;
    }
}