*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Kanit', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
    --main-color: #42F1FC;
    --primary-color: #F9FAFB;
    --secondary-color: #2B5DF9;
    --background-color: #E8F1F9;
    --background-color_btn: linear-gradient(135deg, #E8AA4A 0%, #FFBC52 100%);
    --background-color_btn-hover: linear-gradient(135deg, #b7863f 0%, #d09b44 100%);
    --title-color: #112879;
    --font-weight: 700;
    --transition: all ease 0.5s;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: var(--background-color);
}