.banner {
    background-image: url('../../img/banner_img.png');
    background-size: cover;
    padding: 132px 0 164px;
}

.banner__row h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 85px;
    color: var(--title-color);
}

@media screen and (max-width: 1030px) {
    .banner__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__row h1 {
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .banner__row h1 {
        font-size: 50px;
        line-height: 63px;
    }
}

@media screen and (max-width: 380px) {
    .banner {
        padding: 100px 0 125px;
    }
}